In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
from datetime import datetime

def dateparse(d,t):
    dt = d + " " + t
    return pd.datetime.strptime(dt, '%d/%m/%Y %H:%M:%S')

df = pd.read_csv('OK2018Apr_tranV2.csv', parse_dates={'datetime': ['Date', 'Time']}, date_parser=dateparse)

In [3]:
df['Hour'] = df['datetime'].apply(lambda x: x.hour)

In [4]:
df[df['Sold Qty']<0].head()

,datetime,Store ID,Store Type,Trans ID,Member ID,Member Grade,Gender,Member Birthday,Dept,Cat,Subcat,Sold Qty,MOP,Amount,Hour
2003,2018-04-01 12:53:05,27,HSR - HIGH STREET RESIDENTIAL,7235722870,NaN,NaN,NaN,NaN,Convenience Services,BATTERY CHARGE SERVICES,BATTERY CHARGE SERVICES(Genera,-1,Cash,0.0,12
2004,2018-04-01 12:53:06,27,HSR - HIGH STREET RESIDENTIAL,7235722870,NaN,NaN,NaN,NaN,Deposit,BATTERY CHARGE SERVICE(GER.),(General),-1,Cash,-130.0,12
3216,2018-04-01 19:02:56,27,HSR - HIGH STREET RESIDENTIAL,7235717927,NaN,NaN,NaN,NaN,Convenience Services,BATTERY CHARGE SERVICES,BATTERY CHARGE SERVICES(Genera,-1,Cash,0.0,19
3217,2018-04-01 19:02:57,27,HSR - HIGH STREET RESIDENTIAL,7235717927,NaN,NaN,NaN,NaN,Deposit,BATTERY CHARGE SERVICE(GER.),(General),-1,Cash,-130.0,19
6624,2018-04-02 14:23:38,27,HSR - HIGH STREET RESIDENTIAL,7235707429,NaN,NaN,NaN,NaN,Packaged Beverage,Tea,Bottle,-1,Cash,-15.9,14

In [5]:
print(df[df['Sold Qty']<0]['Amount'].max())

df[df['Sold Qty']<0]['Amount'].value_counts()

68.0

 0.0      478
-130.0    415
-50.0      83
-7.5       75
-57.0      70
-8.0       63
-9.0       56
-8.5       53
-11.0      48
-11.5      42
-10.0      34
-8.9       24
-7.2       24
-9.5       24
 1.0       22
-11.9      22
-10.9      22
-16.9      19
-13.5      18
-19.9      17
-12.0      16
 2.0       16
-6.1       16
-20.0      16
-18.0      15
-55.0      15
-25.5      15
-13.0      14
-6.0       14
-9.9       14
         ...
-250.0      1
-18.9       1
 2.6        1
-35.9       1
-800.0      1
-30.0       1
-75.0       1
-27.9       1
 11.0       1
-485.0      1
 2.5        1
 8.5        1
 13.8       1
-72.0       1
 20.0       1
-3.0        1
-3.9        1
-88.0       1
-29.0       1
 13.0       1
 6.0        1
-16.8       1
-38.0       1
 12.5       1
-0.5        1
-26.0       1
-200.0      1
 5.1        1
 2.7        1
 5.6        1
Name: Amount, Length: 205, dtype: int64

In [6]:
df_posQty = df[df['Sold Qty']>0]
print(len(df))
print(len(df_posQty))

df_posQty['Amount'].value_counts()

1048575
1046315

 8.0       114867
 57.0       59334
 0.0        58493
 100.0      54484
-1.0        51695
 7.5        32049
 8.5        30509
 50.0       20980
 10.0       20407
 200.0      19999
 9.0        18797
 9.5        18611
 11.5       18452
-2.0        18266
 11.0       18144
-0.5        13466
-5.0        12399
 7.0        11619
 10.5       11286
 500.0      10927
 6.0        10793
 7.2         9883
 10.9        9866
 9.9         9048
 11.9        8783
 13.0        8711
 13.5        8686
 8.9         8535
 16.9        8445
-3.0         8028
            ...
 428.9          1
 431.1          1
 169.6          1
 430.1          1
 4220.0         1
 4232.0         1
 104.6          1
 1059.0         1
 2112.0         1
 251.6          1
 696.4          1
 1069.0         1
 4277.0         1
 1071.0         1
 173.9          1
 4285.0         1
 1352.0         1
 172.4          1
 4309.5         1
 4310.0         1
 1078.5         1
 1079.0         1
 1081.0         1
 231.2          1
 4327.0         1
 1680.1         1
 4334.0         1
 692.9          1
 4340.0         1
 127.2          1
Name: Amount, Length: 3832, dtype: int64

In [7]:
df_posQty_posAmount = df_posQty[df_posQty['Amount']>0]
df_posQty_posAmount.shape

(807929, 15)

In [8]:
df_posQty_negAmount = df_posQty[df_posQty['Amount']<0]
df_posQty_negAmount.shape

(179893, 15)

In [9]:
df_posQty_zeroAmount = df_posQty[df_posQty['Amount']==0]
df_posQty_zeroAmount.shape

(58493, 15)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 15 columns):
datetime           1048575 non-null datetime64[ns]
Store ID           1048575 non-null int64
Store Type         1048575 non-null object
Trans ID           1048575 non-null int64
Member ID          196515 non-null float64
Member Grade       196502 non-null object
Gender             189076 non-null object
Member Birthday    171704 non-null object
Dept               975135 non-null object
Cat                975135 non-null object
Subcat             974952 non-null object
Sold Qty           1048575 non-null int64
MOP                1048575 non-null object
Amount             1048575 non-null float64
Hour               1048575 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(8)
memory usage: 120.0+ MB

In [11]:
df.Dept.value_counts(dropna=False)

Publications             222370
Convenience Services     168951
Packaged Beverage        149745
Tobacco                   79494
NaN                       73440
Confectionery & Snack     66122
Dairy                     56207
Beer & Mixed Drinks       50584
Packaged Ice Cream        48400
Food Service              35066
Grocery                   28657
A & P Expense             20635
Full-baked Ambient        14937
HOT & IN                  14598
Non-Food                  13284
Deposit                    3202
Wine & Spirit              1396
Instore Bakery              736
Catering Item               637
Store Use Items              71
Gift Tin                     43
Name: Dept, dtype: int64

In [12]:
df_posQty_posAmount.to_csv('tran_posQty_posAmount.csv')

In [13]:
df_posQty_negAmount.to_csv('tran_posQty_negAmount.csv')

In [14]:
df_posQty_zeroAmount.to_csv('tran_posQty_zeroAmount.csv')